* {
    box-sizing: border-box;
    }
    
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #FFD0C5 20%, #FF7150 100%);
    }
    
    .head{
    overflow: hidden;
    background-color: #8fb2ff;
    padding: 9px 3px;
    }
    
    .head a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }
    
    
    .head a.sinkers {
    font-size: 25px;
    font-weight: bold;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .head a:hover {
    background-color: #2600ff;
    color: black;
    }
    
    .header-right {
    float: right;
    }